*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body{

    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8eea5d;
 
 
}

.panel{
    width: 90%;
    height: 90%;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}
.ptop{

    width: 100%;
    height: 100px;
    background-color: #173f06;
    padding: 15px;
    color: white;
    display: flex;
align-items: center;
justify-content: space-between;
padding: 0 40%;

}
.elem{
    width: 10%;
    display: flex;
gap: 15px;
    align-items: center;
}

.box{
    background-color: white;
    /* height: 20px;
    width: 55px; */
    padding: 10px 20px;
    border-radius: 2px;
    color:rgb(14, 237, 14);
    font-size: 30px;
     
}

.pbtm{
  height: calc(100%-100px);
      width: 100%;
      padding: 10px;
      display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

    .pbtm .bubble{
height: 60px;
width: 60px;
border-radius: 50%;
background-color: #136610;
display: flex;
align-items: center;
justify-content: center;
color: white;
    }

    .bubble:hover{
        background-color: #021c0c;
    }